:root{
    --main-radius:5px;
    --main-padding:5px;
}

.container{
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.2fr;
    grid-template-areas: 
    "header header header header header"
    "sideLeft main main main sideRight"
    "sideLeft content1 content2 content3 sideRight"
    "footer footer footer footer footer";
    grid-gap: 0.2rem;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size:12px;
    color: #004d40;
    text-align: center;
}

header{
    background-color: #a7ffeb;
    grid-area: header;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);

}
main{
    background-color: #dbe4b3;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#sideLeft{
    background-color: #d5d8d8;
    grid-area: sideLeft;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#sideRight{
    background-color: #d5d8d8;
    grid-area: sideRight;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content1{
    background-color: #b0e3f0;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content2{
    background-color: #64ffda;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content3{
    background-color: #73ffba;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

footer{
    background-color: #a7ffeb;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

@media only screen and (max-width:550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr 0.4fr;
        grid-template-areas:
        "header"
        "sideLeft"
        "main"
        "content1"
        "content2"
        "content3"
        "footer"
        "sideRight";
    }

}